#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define DEFAULT 0
#define LOGIN   1
#define CUR     2
#define NUMPAD  3
#define SYMBOL  4
#define FN_KEYS 5
#define SYSTEM  6

#define MO_TO(layer) &mo_to layer layer   // Macro to apply momentary-layer-on-hold/go-to-layer-on-tap


/ {
  chosen {
    zmk,matrix_transform = &five_column_transform;
  };
};


#define COMBO(name, keypress, keypos) \
combo_##name {                        \
	timeout-ms = <30>;                \
	bindings = <keypress>;            \
	key-positions = <keypos>;         \
};


&caps_word {
    continue-list = <UNDERSCORE MINUS>;
};


/* Combo key positions
 0  1  2  3  4          5  6  7  8  9
10 11 12 13 14          15 16 17 18 19
20 21 22 23 24          25 26 27 28 29
      30 31 32          33 34 35            
*/ 

/ {
        behaviors {
        hm: homerow_mods {
                compatible = "zmk,behavior-hold-tap";
                label = "HOMEROW_MODS";
                #binding-cells = <2>;
                tapping_term_ms = <150>;
                flavor = "tap-preferred";
                bindings = <&kp>, <&kp>;
                };

        mo_to: behavior_mo_to {
            compatible = "zmk,behavior-hold-tap";
            label = "mo_to";
            #binding-cells = <2>;
            flavor = "hold-preferred";
            tapping-term-ms = <200>;
            bindings = <&mo>, <&to>;
                };
                
        };

	combos {
		compatible = "zmk,combos";
		COMBO(vol_up, &kp C_VOL_UP,  9 19)
		COMBO(vol_dn, &kp C_VOL_DN, 19 29)
                // symbols
                COMBO(l_bracket, &kp LPAR, 4 27)
                COMBO(r_bracket, &kp RPAR, 4 28)
		// invoke macros
		COMBO(vim_q,  &vim_q,   0  1)
		COMBO(vim_s,  &vim_s,  20 21)
		COMBO(dir_up, &dir_up, 28 29)
                COMBO(nbs_id, &nbs_id, 15 17)
	};

        
};


#define MACRO(name, keys)             \
name: name##_macro {                  \
	label = #name;                    \
	compatible = "zmk,behavior-macro";\
	#binding-cells = <0>;             \
	tap-ms = <1>;                     \
	wait-ms = <1>;                    \
	bindings = <keys>;                \
};



/ {
	macros {
		MACRO(vim_q,  &kp COLON &kp Q &kp EXCL)
		MACRO(vim_s,  &kp COLON &kp W &kp Q)
		MACRO(dir_up, &kp DOT &kp DOT &kp FSLH)
                MACRO(nbs_id, &kp C &kp N5 &kp N0 &kp N1 &kp N3 &kp N0 &kp N5)
//                MACRO(nbs_id, &kp HASH &kp HASH)
	};
};

/ {
        keymap {
                compatible = "zmk,keymap";

                default_layer {
                        label = "COLEMK";
// -----------------------------------------------------------------------------------------
// |   Q   |   W   |   F   |   P   |   B   |              |   J   |   L   |   U   |   Y   |   '   |
// |   A   |   R   |   S   |   T   |   G   |              |   M   |   N   |   E   |   I   |   O   |
// |   Z   |   X   |   C   |   D   |   V   |              |   K   |   H   |   ,   |   .   |   ?   |
//             | GUI | LWR | SPC |              | BKSPC | RSE  | ALT |
                        bindings = <
&kp Q           &kp W           &kp F           &mt LS(F10) P   &mt F5 B        &kp J           &kp L           &kp U           &kp Y           &mt AT SQT
&hm LSHFT A     &hm LALT R      &hm LCTRL S     &hm LGUI T      &kp G           &kp M           &hm LGUI N      &hm LCTRL E     &hm LALT I      &hm LSHFT  O
&mt LC(Z) Z     &mt LC(X) X     &mt LC(C) C     &mt LC(V) D     &mt LC(Y) V     &kp K           &kp H           &mt LT COMMA    &mt GT DOT      &mt FSLH QMARK
                                &mo SYSTEM      &kp LSHFT       &lt LOGIN SPACE &lt CUR BSPC    MO_TO(NUMPAD)   MO_TO(SYMBOL)
                        >;
                };

                LOGIN {
                        label = "LOGIN";
// ------------------------------------------------------------------------------------------------------------------------------------------------------------
// |  Mac Lock   |     TAB     |     ---     |     ---     |     ---     |              |     ---     |     ---     |     ---     |     ---     |     ---     |
// |    LSHFT    |     LALT    |    LCTRL    |     LGUI    |     ---     |              | (TO)Fn keys |  (TO)System |  (TO)Media  |     ---     |     ---     |
// |  Win Lock   |     Cut     |     Copy    |  Win Login  |     Redo    |              |     ---     |  (TO)Cursor |  (TO)Mouse  |     ---     |     ---     |
//                             |     LGUI    |             |     RET     |              | (TO)Cursor  |  (TO)Numpad | (TO)Symbols |

                        bindings = <
&kp LC(LG(Q))   &none           &none           &none           &caps_word      &none           &none           &none           &none           &none
&sk LSHFT       &sk LALT        &sk LCTRL       &sk LGUI        &none           &to FN_KEYS     &to SYSTEM      &none           &none           &none
&kp LG(L)       &kp LC(X)       &kp LC(C)       &kp LC(LA(DEL)) &none           &none           &to CUR         &none           &none           &none
                                &none           &to DEFAULT     &none           &to CUR         &to NUMPAD      &to SYMBOL
                        >;
                };

                CUR {
                        label = "CURSOR";
// ----------------------------------------------------------------------------------------------
// |  ESC  |  TAB  |  ---  |  ---  |  ---  |              |  ---  |  ---  |  Up   |  ---  |  ---  |
// | LSHFT | LALT  | LCTRL |  LGUI |  ---  |              | PG UP |  Left |  Down | Right |  Home |
// |  Undo |  Cut  |  Copy | Paste |  Redo |              | PG DN |  ---  |  ---  |  ---  |  End  |
//                 |  LGUI |       |  RET  |              |  ---  |       |  RALT |

                        bindings = <
&kp ESC         &kp TAB         &none           &none           &caps_word              &none           &none           &kp UP          &none           &none
&sk LSHFT       &sk LALT        &sk LCTRL       &sk LGUI        &none                   &kp PG_UP       &kp LEFT        &kp DOWN        &kp RIGHT       &kp HOME
&kp LC(Z)       &kp LC(X)       &kp LC(C)       &kp LC(V)       &kp LC(Y)               &kp PG_DN       &none           &none           &none           &kp END
                                &kp LGUI        &to DEFAULT     &kp RET                 &none           &trans          &kp RALT
                        >;
                };

                NUMPAD {
                        label = "NUMPAD";
// ------------------------------------------------------------------------------------------------
// |  ESC  |  TAB  |   (   |   )   |   =   |              |   *   |   7   |   8   |   9   |   +   |
// |  ---  |  ---  |  ---  |  ---  |   ;   |              |   /   |   4   |   5   |   6   |   -   |
// |  ---  |  ---  |  ---  |  ---  |   ,   |              |   0   |   1   |   2   |   3   |   .   |
//                 | LGUI  |  DEF  | SPACE |              |  RTN  |       |  RALT |

                        bindings = <
&kp ESC         &kp TAB         &kp LPAR        &kp RPAR        &kp EQUAL               &kp KP_MULTIPLY &kp N7          &kp N8          &kp N9          &kp KP_PLUS
&none           &none           &none           &none           &kp SEMI                &kp KP_DIVIDE   &kp N4          &kp N5          &kp N6          &kp KP_MINUS
&none           &none           &none           &none           &kp COMMA               &kp N0          &kp N1          &kp N2          &kp N3          &kp KP_DOT
                                &kp LGUI        &to DEFAULT     &kp SPACE               &lt CUR BSPC    &trans          &kp RALT
                        >;
                };


                SYMBOL {
                        label = "SYMBOL";
// --------------------------------------------------------------------------------------------------------------------
// |    !    |    @    |    £€   |    $    |    %    |              |    *    |   < >   |   \ /   |    =    |    +    |
// |    ^    |    &    |    *    |  # Win  |  # Mac  |              |    /    |   ( )   |   [ ]   |    _    |    -    |
// |  N-dash |  M-dash |    "    |    `    |    ~    |              |    |    |   { }   |    ;    |    :    |         |
//                     |   GUI   |         |   SPC   |              |   ENT   |         |   ALT   |

                        bindings = <
&kp EXCL        &kp AT          &kp POUND       &kp DLLR        &kp PRCNT               &kp ASTRK       &mt GT LT       &mt FSLH BSLH   &kp EQUAL       &kp PLUS
&kp CARET       &kp AMPS        &kp ASTRK       &trans          &trans                  &kp FSLH        &mt RPAR LPAR   &mt RBKT LBKR   &kp UNDER       &kp MINUS
&trans          &trans          &kp DQT         &kp GRAVE       &kp TILDE               &kp PIPE        &mt RBRC LBRC   &kp SEMI        &kp COLON       &none
                                &kp LGUI        &to DEFAULT     &kp SPACE               &kp RET         &trans          &kp RALT
                        >;
                };

                FN_KEYS {
                        label = "FN KEYS";
// -----------------------------------------------------------------------------------------
// |  F1   |  F2   |  F3   |  F4   |  F5   |              |  F11  |  F12  |  F12  |  F14  |  F15  |
// |  LS   |  LA   |  LC   |  LG   |  ---  |              |  ---  |  LG   |  LC   |  LA   |  LS   |
// |  F6   |  F7   |  F8   |  F9   |  F10  |              |  F16  |  F17  |  F18  |  F19  |  F20  |
//                 |  ---  |  ---  |  SPC  |              |  ENT  |  ---  |  ---  |

                        bindings = <
&kp F1          &kp F2          &kp F3       &kp F4             &kp F5          &kp F11         &kp F12         &kp F13         &kp F14         &kp F15
&sk LSHFT       &sk LALT        &sk LCTRL    &sk LGUI           &none           &none           &sk LGUI        &sk LCTRL       &sk LALT        &sk LSHFT
&kp F6          &kp F7          &kp F8       &kp F9             &kp F10         &kp F16         &kp F17         &kp F18         &kp F19         &kp F20
                                &none        &to DEFAULT        &kp SPACE       &kp RET         &none           &none
                        >;
                };

                SYSTEM {
                        label = "SYSTEM";
// -----------------------------------------------------------------------------------------
// |       |       | S Shot|BR Down| BR Up |              | V.Mute| V.Down|  V.Up |       | Power |
// |  BT1  |  BT2  |  BT3  |  BT4  |  BT5  |              |       |       |       |       |       |
// | BTCLR |       |       |       |       |              |       |       |       |       |       |
//                 |  GUI  |       |  SPC  |              |  ENT  |       |  ALT  |

                        bindings = <
&kp N1          &kp N2          &kp N3       &kp N4             &kp N5          &kp N6          &kp N7          &kp N8          &kp N9          &kp N0
&bt BT_SEL 0    &bt BT_SEL 1    &bt BT_SEL 2 &bt BT_SEL 3       &bt BT_SEL 4    &kp LEFT        &kp DOWN        &kp UP          &kp RIGHT       &trans
&bt BT_CLR      &trans          &trans       &trans             &trans          &trans          &trans          &trans          &trans          &trans
                                &kp LGUI     &to DEFAULT        &kp SPACE       &kp RET         &trans          &kp RALT
                        >;
                };


        };
};